{% extends "AppBundle::admin-layout.html.twig" %}



{# BROWSER TITLE #}
{% block browserTitle %}Administrator panel ~ Evolution{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/formEvent.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fine-uploader-new.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/pluginDragDown.css') }}">
{% endblock %}

{# OWN JS #}
    {%  block ownjs %}
        <script src="{{ asset('js/fine-uploader.js') }}"></script>

        <script type="text/template" id="qq-template-manual-trigger">
            <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                </div>
                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                    <span class="qq-upload-drop-area-text-selector"></span>
                </div>
                <div class="buttons">
                    <div class="qq-upload-button-selector qq-upload-button">
                        <div>Select files</div>
                    </div>
                    <button type="button" id="trigger-upload" class="btn btn-primary">
                        <i class="icon-upload icon-white"></i> Upload
                    </button>
                </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
                <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                    <li>
                        <div class="qq-progress-bar-container-selector">
                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                        </div>
                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                        <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    </li>
                </ul>

                <dialog class="qq-alert-dialog-selector">
                    <div class="qq-dialog-message-selector"></div>
                    <div class="qq-dialog-buttons">
                        <button type="button" class="qq-cancel-button-selector">Close</button>
                    </div>
                </dialog>

                <dialog class="qq-confirm-dialog-selector">
                    <div class="qq-dialog-message-selector"></div>
                    <div class="qq-dialog-buttons">
                        <button type="button" class="qq-cancel-button-selector">No</button>
                        <button type="button" class="qq-ok-button-selector">Yes</button>
                    </div>
                </dialog>

                <dialog class="qq-prompt-dialog-selector">
                    <div class="qq-dialog-message-selector"></div>
                    <input type="text">
                    <div class="qq-dialog-buttons">
                        <button type="button" class="qq-cancel-button-selector">Cancel</button>
                        <button type="button" class="qq-ok-button-selector">Ok</button>
                    </div>
                </dialog>
            </div>
        </script>
    {% endblock %}

{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_eventFormTitle' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_createEvent' | trans }}</li>
                        </ol>
                    </section>

                    <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                        {{ form_start(formEvent) }}
                            {{ form_errors(formEvent) }}
                            <div class="form-div-full">{{ form_row(formEvent.title) }}</div>
                            <div class="form-div-full">{{ form_row(formEvent.description) }}</div>
                            <div class="form-div-full">{{ form_row(formEvent.category) }}</div>

                            <div class="form-div-normal">
                                <div class="form-div-checkbox">
                                    {{ form_row(formEvent.isPriceVisible) }}
                                </div>
                                {{ form_row(formEvent.price) }}
                            </div>

                            <div class="form-div-normal">
                                <div class="form-div-checkbox">
                                    {{ form_row(formEvent.isWebsiteVisible) }}
                                </div>
                                    {{ form_row(formEvent.website) }}
                            </div>

                            <div class="form-div-normal">
                                <div class="form-div-checkbox">
                                    {{ form_row(formEvent.isDateVisible) }}
                                </div>
                                {{ form_row(formEvent.date) }}
                            </div>

                            <div class="form-div-normal">
                                <div class="form-div-checkbox">
                                    {{ form_row(formEvent.isValidDateVisible) }}
                                </div>
                                {{ form_row(formEvent.validDate) }}
                            </div>

                            <div class="form-div-normal">
                                <div class="form-div-checkbox">
                                    {{ form_row(formEvent.isLocationVisible) }}
                                </div>
                                {{ form_row(formEvent.location) }}
                            </div>

                            <div id="map"></div>

                            {{ form_row(formEvent.mapX) }}
                            {{ form_row(formEvent.mapY) }}

                            <div class="form-div-normal ">
                                <div class="form-div-checkbox">
                                    {{ form_row(formEvent.isPublic) }}</div>
                                    <div class="form-div-checkbox-left">
                                    {{ form_row(formEvent.isOutstanding) }}
                                </div>
                            </div>

                            <div class="form-div-full">
                                {{ form_row(formEvent.tags) }}
                            </div>


                            {% if edit %}
                                <div id="edit-images-wrapper">
                                    {% for file in files %}
                                        {% if file.type == "image" %}
                                            <div id="file_{{ file.id }}">
                                                <img src="{{ asset(file.path) }}" alt="{{ file.name }}">
                                                <div onclick="deleteFile({{ file.id }})" class="delete-file">str_delete</div>
                                            </div>
                                        {% elseif file.type == "document" %}
                                            <div id="file_{{ file.id }}">{{ file.name }}</div>
                                            <div onclick="deleteFile({{ file.id }})" class="delete-file">str_delete</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div id="fine-uploader"></div>

                            <div class="form-div-full">{{ form_row(formEvent.purchaseOption) }}</div>

                            <div class="form-div-normal">
                                <div class="form-div-checkbox">
                                    {{ form_row(formEvent.isActive) }}
                                </div>
                            </div>

                            {{ form_row(formEvent._token) }}
                            <button type="button" id ="btn-submit">{{ 'str_addEvent' | trans }}</button>
                        {{ form_end(formEvent) }}
                    </section>



                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block fineuploder %}
    <script type="text/javascript">
        var uploader = new qq.FineUploader({
            element: document.getElementById('fine-uploader'),
            template: 'qq-template-manual-trigger',
            request: {
                endpoint: "{{ oneup_uploader_endpoint('gallery') }}",
            },
            autoUpload: false,
            callbacks: {
                onError: function(id, name, errorReason, xhrOrXdr) {
                    uploader.reset();
                },
                onAllComplete: function () {
                    document.getElementsByTagName("form")[0].submit();
                }
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'txt', 'png','doc','docx','pdf','odt','odp'],
                itemLimit: 10,
                sizeLimit: 1024000 // 50 kB = 50 * 1024 bytes
            }
        });
        qq(document.getElementById("btn-submit")).attach("click", function() {
            {% if edit is defined and edit %}
                if(uploader.getUploads().length != 0){
                    uploader.uploadStoredFiles();
                }else {
                    document.getElementsByTagName("form")[0].submit();
                }
            {% else %}
                uploader.uploadStoredFiles();
            {% endif %}

        });
    </script>

{% endblock %}

{% block mapjs %}
    <script type="text/javascript">
        function initMap() {

            /*var lat = $('#event_form_mapX').val();
            var lng = $('#event_form_mapy').val();*/
            // Iniciamos el mapa en las coordenadas de Evolution
            var map = new google.maps.Map(document.getElementById('map'));
            map.setCenter(new google.maps.LatLng({{ mapX }}, {{ mapY }}));
            map.setZoom(15);
            var input = /** @type {!HTMLInputElement} */(
                    document.getElementById('event_form_location'));

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            autocomplete.addListener('place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();

                if (!place.geometry) {
                    window.alert("Autocomplete's returned place contains no geometry");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                    $('#event_form_mapX').val(place.geometry.location.lat());
                    $('#event_form_mapY').val(place.geometry.location.lng());

                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                }
                console.log(place.geometry.location);
                marker.setIcon(/** @type {google.maps.Icon} */({
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }
                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
            });

            // Sets a listener on a radio button to change the filter type on Places
            // Autocomplete.
            function setupClickListener(id, types) {
                var radioButton = document.getElementById(id);
                radioButton.addEventListener('click', function() {
                    autocomplete.setTypes(types);
                });
            }

            setupClickListener('changetype-all', []);
            setupClickListener('changetype-address', ['address']);
            setupClickListener('changetype-establishment', ['establishment']);
            setupClickListener('changetype-geocode', ['geocode']);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhqU8AtjPD9x73bUVFeXfkAN4N8tEBr_Y&signed_in=true&libraries=places&callback=initMap"
            async defer></script>
{% endblock %}

{% block more_scripts %}
    <script type="text/javascript">
        function deleteFile(id){
            var datos = {};
            datos.id = id;

            $.ajax({
                url: ' {{ path('delete_event_file') }} ',
                data: datos,
                type: 'post'
            }).success(function (data) {
                if(data.type == 'OK'){
                    $('#file_'+id).remove();
                }
            });
        }
    </script>
{% endblock %}