{% extends "AppBundle::admin-layout.html.twig" %}


{# Macro usado para printear la miniatura o cuadrado de un evento #}
{% import "AppBundle:macros:searcher.html.twig" as searcherMacros %}



{# BROWSER TITLE #}
{% block browserTitle %}Event history{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/searcher.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_petitionsHistory' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_petitionsHistory' | trans }}</li>
                        </ol>
                    </section>


                    {# Creamos el buscador con el parametro como placeholder #}
                    {{ searcherMacros.printSearcher() }}


                    <!-- LIST -->
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-hover">
                            <tr>
                                <th>
                                    {{ 'str_nickname' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_eventName' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_quantity' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_totalPrice' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_date' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>
                            </tr>
                            {# Si hay categories#}
                            {% if eventHistory %}
                                {% for history in eventHistory %}
                                    {% set totalPrice = history.quantity * history.event.price %}
                                    <tr>
                                        <td>{{ history.user.username }}</td>
                                        <td>{{ history.event.title }}</td>
                                        <td>{{ history.quantity }}</td>
                                        <td>
                                            {% if totalPrice == 0 %}
                                                {{ 'str_free' | trans }}
                                            {% else %}
                                                {{ totalPrice }}
                                            {% endif %}
                                        </td>
                                        <td>{{ history.date | date("Y/m/d H:m:s")}}</td>
                                    </tr>
                                {% endfor %}
                                {# si NO hay admins, mostramos mensaje#}
                            {% else %}
                                <tr>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                </tr>
                            {% endif %}
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
