{# Printea el cuadrado o miniatura de un evento con su título, foto, precio... #}
{% macro printEvent(events) %}
    {% for event in events  %}

        <a href="/product/{{ event.id }}" class="event-element col-xs-12 col-sm-offset-0 col-sm-6 col-md-3">
            <!-- Event -->
            <article class="event">

                <!-- Event image -->
                <div class="event-image-wrapper">
                    {% if event.files %}

                        {% set trobat = 0 %}
                        {% for file in event.files %}

                            {% if file.type == 'image' and trobat == 0 %}
                                <img src="{{ asset(file.path) }}" alt="{{ 'str_textoAlternativoFoto' | trans }}">
                                {% set trobat = 1 %}
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                    <span class="price">
                        {% if event.price == 0 %}
                            free
                        {% else %}
                            {{ event.price }}€
                        {% endif %}
                    </span>
                </div>


                <!-- Event title -->
                <h2>{{ event.title }}</h2>


                <!-- Event categoria -->
                <div class="category-wrapper">
                    <p class="categoria">

                        {% if event.category %}
                        {{ 'str_categoria' | trans }}:
                        {{ event.category.name }}
                        <span class="categoria">
                            {% if event.category == 'restaurant' %}
                                <i class="fa fa-cutlery" aria-hidden="true"></i>

                            {% elseif event.category == 'sport' %}
                                <i class="fa fa-futbol-o" aria-hidden="true"></i>

                            {% elseif event.category == 'musical' %}
                                <i class="fa fa-music" aria-hidden="true"></i>

                            {% elseif event.category == 'cultural' %}
                                <i class="fa fa-university" aria-hidden="true"></i>

                            {% elseif event.category == 'tour' %}
                                <i class="fa fa-flag" aria-hidden="true"></i>

                            {% endif %}
                        </span>
                        {% endif %}
                    </p>
                </div>

                <!-- Event tags -->
                <div class="tags-wrapper">
                {% if event.tags %}

                        {% for tag in event.tags %}
                            <span class="tag">{{ tag.name }}</span>
                        {% endfor %}

                    {% endif  %}
                </div>

            </article>
        </a>

    {% endfor %}
{% endmacro %}