{# Usado para crear la estructura de "migas de pan" #}
{% macro printSearcher() %}

    <section id="searcher-wrapper">
        <form action="" id="searcher-form">
            <div>
                <input type="text" id="searcher" autofocus placeholder="{{ 'str_lookFor' | trans }}">
                <button type="submit" id="searcher-submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </section>

{% endmacro %}