<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block browserTitle %}{% endblock %}</title>

    {{ include('AppBundle::modules/header-dependences.html.twig') }}

    {# OWN JS #}
    {%  block ownjs %}{% endblock %}

    {# OWN CSS #}
    {%  block owncss %}{% endblock %}
    {% block more_scripts %}{% endblock %}


</head>
<body>
    {# Navegador fixed top #}
    {% block navigatorTop %}{% endblock %}

    {# Header con el logo y el buscador #}
    {% block headerSearcher %}{% endblock %}


    <main>
        {# navegador principal horizontal #}
        {% block navigatorMain %}{% endblock %}

        {# contenido dinamico #}
        {% block content %}{% endblock %}
    </main>

    {# footer #}
    {% block footer %}{% endblock %}
    {% block endBodyJavascript %}{% endblock %}
    {% block mapjs %}{% endblock %}
    <script type="text/javascript" src="{{ asset('js/navigator-main.js') }}"></script>
</body>
</html>

