{% extends "AppBundle::layout.html.twig" %}



{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}


{# Content #}
{% block content %}
    <section id="error-wrapper">
        <img src="{{ image }}" alt="Ship flat design"/>
        <h1 id="error-sentence">{{ error }}</h1>
    </section>

{% endblock %}