{% extends "AppBundle::layout.html.twig" %}


{# BROWSER TITLE #}
{% block browserTitle %}Test{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/_modules/form-insert-user.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
{% endblock %}


{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}


{# Botón que envia a la vista de enviar peticion #}
{% block goToPetitionView %}{# Al estar vacio se sobrescribe y se borra #}{% endblock %}


{# Content #}
{% block content %}
    <div class="row">
        <div class="container-fluid">
            <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
                {{ form_start(formUser) }}
                <h2>{{ 'str_signup' | trans }}</h2>
                {{ form_errors(formUser) }}
                    <div class="signup">{{ form_row(formUser.name) }}</div>
                    <div class="signup">{{ form_row(formUser.surname) }}</div>
                    <div class="signup">{{ form_row(formUser.userName) }}</div>
                    <div class="signup">{{ form_row(formUser.email) }}</div>
                    <div class="half-block signup">{{ form_row(formUser.plainPassword.first) }}</div>
                    <div class="half-block signup">{{ form_row(formUser.plainPassword.second) }}</div>
                    <div class="signup">{{ form_row(formUser.shipName) }}</div>
                    <div class="signup">{{ form_row(formUser.shipRank) }}</div>
                {{ form_row(formUser._token) }}
                    <button type="submit">{{ 'str_registrarme' | trans }}!</button>
                {{ form_end(formUser) }}
            </section>
        </div>
    </div>
{% endblock %}