{% extends "AppBundle::admin-layout.html.twig" %}


{# Macro usado para printear la miniatura o cuadrado de un evento #}
{% import "AppBundle:macros:searcher.html.twig" as searcherMacros %}



{# BROWSER TITLE #}
{% block browserTitle %}Petitions history ~ Evolution{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/searcher.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_petitionsHistory' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_petitionsHistory' | trans }}</li>
                        </ol>
                    </section>


                    {# Creamos el buscador con el parametro como placeholder #}
                    {{ searcherMacros.printSearcher() }}


                    <!-- LIST -->
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-hover">
                            <tr>
                                <th>
                                    {{ 'str_nickname' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_title' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_description' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_date' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_filedBy' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_validationDate' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>
                            </tr>
                            {# Si hay categories#}
                            {% if petitionsHistory %}
                                {% for petition in petitionsHistory %}
                                    <tr>
                                        <td>{{ petition.user.username }}</td>
                                        <td>{{ petition.title }}</td>
                                        <td>{{ petition.message }}</td>
                                        <td>{{ petition.date | date("Y/m/d H:m:s")}}</td>
                                        <td>{{ petition.validatedBy.userName }}</td>
                                        <td>{{ petition.validationDate | date("Y/m/d H:m:s")}}</td>
                                    </tr>
                                {% endfor %}
                                {# si NO hay admins, mostramos mensaje#}
                            {% else %}
                                <tr>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                </tr>
                            {% endif %}
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}