span.tag {
  background: #30b3ad;
  padding: 0.1em 0.3em;
  color: white;
  font-size: 0.8em;
  display: inline-block; }

span.tag:hover {
  background: #219e98;
  cursor: pointer; }

/*# sourceMappingURL=tags.css.map */
