ul.feed-events {
  position: relative;
  margin: 0;
  padding: 0.5em; }
  ul.feed-events li.feed-event-element {
    position: relative;
    padding: 0.5em 0.5em 0.5em 3em;
    margin-top: 0.2em; }
    ul.feed-events li.feed-event-element h3 {
      font-size: 1em;
      margin: 0; }
    ul.feed-events li.feed-event-element p {
      margin: 0;
      font-size: 0.8em; }
    ul.feed-events li.feed-event-element img {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 5px;
      left: 5px;
      border-radius: 50%; }
  ul.feed-events li.feed-event-element::after {
    content: "";
    width: 10%;
    height: 1px;
    background-color: #dedede;
    margin: 0 auto;
    position: absolute;
    bottom: -3px; }
  ul.feed-events li.feed-event-element:last-child::after {
    content: "";
    width: 0;
    height: 0; }

ul.feed-comments {
  position: relative;
  margin: 0;
  padding: 0.5em; }
  ul.feed-comments li.feed-comments-element {
    position: relative;
    padding: 0.5em;
    margin-top: 0.2em; }
    ul.feed-comments li.feed-comments-element h5, ul.feed-comments li.feed-comments-element span.bold {
      font-weight: 500; }
    ul.feed-comments li.feed-comments-element h5 {
      font-size: 1em;
      margin: 0;
      font-weight: 100; }
      ul.feed-comments li.feed-comments-element h5 a {
        color: #3e3f3a; }
      ul.feed-comments li.feed-comments-element h5 a:hover {
        text-decoration: underline; }
    ul.feed-comments li.feed-comments-element p {
      margin: 0;
      font-size: 0.8em; }
  ul.feed-comments li.feed-event-element::after {
    content: "";
    width: 10%;
    height: 1px;
    background-color: #dedede;
    margin: 0 auto;
    position: absolute;
    bottom: -3px; }

#main > .container-fluid {
  width: 95%; }
  #main > .container-fluid > section {
    margin-left: 0;
    margin-right: 0; }

#main-charts {
  margin-top: 2em; }
  #main-charts > div {
    margin: 0; }

article.main-charts-element {
  text-align: left;
  padding: 0px;
  margin-top: 1.5em; }
  article.main-charts-element > div {
    padding-left: 4em; }
  article.main-charts-element span.count_top, article.main-charts-element div.count {
    color: #2c3136; }
  article.main-charts-element span.count_top {
    font-size: 1.5em; }
  article.main-charts-element div.count {
    font-size: 1.2em; }
  article.main-charts-element i {
    display: block;
    font-size: 3em;
    position: absolute;
    top: 5px;
    left: 10px; }

#top10 {
  margin: 2em 0 0 0; }

.box-color-main {
  border-top: 3px solid #30b3ad !important; }
  .box-color-main .box-header {
    background-color: #d5f4f2; }
    .box-color-main .box-header h3 {
      color: #30b3ad; }
  .box-color-main span.label {
    background: #30b3ad; }

.box-color-red {
  border-top: 3px solid #dd4b39 !important; }
  .box-color-red .box-header {
    background-color: #f7d5d1; }
    .box-color-red .box-header h3 {
      color: #dd4b39; }
  .box-color-red span.label {
    background: #dd4b39; }

.box-color-yellow {
  border-top: 3px solid #f39c12 !important; }
  .box-color-yellow .box-header {
    background-color: #fce3bc; }
    .box-color-yellow .box-header h3 {
      color: #f39c12; }
  .box-color-yellow span.label {
    background: #f39c12; }

.box-color-grey {
  border-top: 3px solid grey !important; }
  .box-color-grey .box-header {
    background-color: #d9d9d9; }
    .box-color-grey .box-header h3 {
      color: grey; }
  .box-color-grey span.label {
    background: grey; }

.box-header {
  color: #444;
  display: block;
  padding: 10px 10px 10px 30px;
  position: relative; }
  .box-header h3 {
    font-weight: 500; }

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .box i.fa-star {
    color: goldenrod;
    font-size: 0.8em; }

.box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1; }

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  border: none;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .table td, .table th, .table td {
    border: none !important; }

span.label {
  padding: 0.2em 0.6em;
  font-size: 1em;
  border-radius: 20px; }

@media (max-width: 992px) {
  #main {
    margin-top: 5em; } }

/*# sourceMappingURL=charts.css.map */
