button {
  padding: 10px 12px;
  margin-bottom: 0;
  margin-top: 1em;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  background: #30b3ad;
  color: white;
  font-size: 2em; }

button:hover {
  background-color: #219e98;
  cursor: pointer; }

#admin-pagecontent {
  overflow: hidden; }
  #admin-pagecontent form {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 3em 0;
    margin-top: 2em; }
    #admin-pagecontent form div.form-group {
      display: inline-block;
      width: 49%;
      max-width: 49%; }
      #admin-pagecontent form div.form-group label {
        display: block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 400; }
      #admin-pagecontent form div.form-group input, #admin-pagecontent form div.form-group select {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
    #admin-pagecontent form div#allRow.form-group {
      width: 100% !important;
      max-width: 100% !important; }
      #admin-pagecontent form div#allRow.form-group select {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
        #admin-pagecontent form div#allRow.form-group select label {
          display: inline-block; }
    #admin-pagecontent form div.form-onlyCheckbox-wrapper label {
      display: inline-block;
      font-weight: 400;
      margin-right: 1em; }
    #admin-pagecontent form div.form-onlyCheckbox-wrapper input {
      display: inline-block; }
    #admin-pagecontent form div.form-div-normal {
      display: block;
      width: 100%;
      max-width: 100%; }
      #admin-pagecontent form div.form-div-normal div {
        width: 49%;
        max-width: 49%;
        display: inline-block; }
        #admin-pagecontent form div.form-div-normal div label {
          display: block;
          max-width: 100%;
          margin-bottom: 5px;
          font-weight: 400; }
        #admin-pagecontent form div.form-div-normal div input, #admin-pagecontent form div.form-div-normal div select {
          display: block;
          width: 100%;
          height: 34px;
          padding: 3px 6px;
          font-size: 14px;
          line-height: 1.42857;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
          -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
      #admin-pagecontent form div.form-div-normal div.form-div-checkbox > div {
        width: 100%;
        max-width: 100%;
        position: relative;
        text-align: right; }
      #admin-pagecontent form div.form-div-normal div.form-div-checkbox input {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        right: 50px; }
      #admin-pagecontent form div.form-div-normal div.form-div-checkbox label {
        font-weight: 400;
        display: inline-block;
        margin-bottom: 5px;
        padding-right: 100px; }
      #admin-pagecontent form div.form-div-normal div.form-div-checkbox-left > div {
        width: 100%;
        max-width: 100%;
        position: relative;
        text-align: left; }
      #admin-pagecontent form div.form-div-normal div.form-div-checkbox-left input {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 50px; }
      #admin-pagecontent form div.form-div-normal div.form-div-checkbox-left label {
        font-weight: 400;
        display: inline-block;
        margin-bottom: 5px;
        padding-left: 100px; }

/*# sourceMappingURL=form-common.css.map */
