.panel-element {
  display: inline-block;
  width: 32%;
  max-width: 32%; }
  .panel-element .panel-heading {
    background-color: #30b3ad;
    position: relative;
    padding: 10px 60px 10px 15px; }
    .panel-element .panel-heading h2 {
      margin: 0;
      font-size: 1.5em;
      font-weight: bold;
      text-transform: capitalize; }
      .panel-element .panel-heading h2 span.light {
        font-weight: 100;
        text-transform: capitalize; }
    .panel-element .panel-heading a, .panel-element .panel-heading a:hover, .panel-element .panel-heading i, .panel-element .panel-heading i:hover {
      color: white; }
    .panel-element .panel-heading i {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 2em;
      transition: all 0.7s ease; }
    .panel-element .panel-heading i:hover {
      transform: scale(1.1); }

/*# sourceMappingURL=petition.css.map */
