@media (max-width: 992px) {
  #admin-pagecontent {
    margin-top: 5em; }

  section.content-header > h1,
  section.content-header ol {
    padding: 0.5em; } }
@media (max-width: 767px) {
  #admin-pagecontent table td p {
    display: block !important; } }
@media (max-width: 650px) {
  section.content-header > h1 {
    font-size: 1.25em; }

  section.content-header ol {
    font-size: 0.8em; } }
#error-message {
  display: none;
  padding: 0.2em;
  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: #c0392b;
  border-bottom: 2px solid #ab3326;
  border-top: 2px solid #ab3326; }
  #error-message p {
    color: white;
    text-align: center;
    margin: 0 !important; }
  #error-message i {
    position: absolute;
    color: white;
    top: 6px;
    right: 20px; }
  #error-message i:hover {
    cursor: pointer; }

#main {
  position: relative; }

#admin-pagecontent table tr.isactive {
  background-color: #e6ffe6 !important; }
#admin-pagecontent table tr.isnotactive {
  background-color: #ffe6e6 !important; }
#admin-pagecontent table tr:hover {
  background-color: #e6e6e6;
  cursor: pointer; }
#admin-pagecontent table td {
  text-align: left !important;
  max-width: 300px; }
  #admin-pagecontent table td p {
    display: inline-block;
    margin: 0; }
  #admin-pagecontent table td i.delete-user,
  #admin-pagecontent table td i.denny-user,
  #admin-pagecontent table td i.modify-user,
  #admin-pagecontent table td i.validate-user,
  #admin-pagecontent table td i.modify-password,
  #admin-pagecontent table td i.modify-isnotpublic,
  #admin-pagecontent table td i.modify-isnotvisible,
  #admin-pagecontent table td i.modify-ispublic,
  #admin-pagecontent table td i.modify-isvisible {
    transform: all 1s ease; }
  #admin-pagecontent table td i.delete-user,
  #admin-pagecontent table td i.denny-user {
    color: #C0392B; }
  #admin-pagecontent table td i.modify-user,
  #admin-pagecontent table td i.validate-user {
    color: #1E824C; }
  #admin-pagecontent table td i.modify-password,
  #admin-pagecontent table td i.modify-isnotpublic,
  #admin-pagecontent table td i.modify-isvisible {
    color: #3e3f3a; }
  #admin-pagecontent table td i.modify-ispublic,
  #admin-pagecontent table td i.modify-isnotvisible {
    color: #65675f; }
  #admin-pagecontent table td i.delete-user:hover,
  #admin-pagecontent table td i.denny-user:hover,
  #admin-pagecontent table td i.modify-user:hover,
  #admin-pagecontent table td i.validate-user:hover,
  #admin-pagecontent table td i.modify-isnotpublic:hover,
  #admin-pagecontent table td i.modify-isnotvisible:hover,
  #admin-pagecontent table td i.modify-ispublic:hover,
  #admin-pagecontent table td i.modify-isvisible:hover {
    transform: scale(1.2); }
#admin-pagecontent table th {
  text-align: left !important;
  max-width: 300px; }
  #admin-pagecontent table th i {
    transform: rotate(90deg);
    -webkit-transition: 1s all ease;
    time-moz-transition: 1s all ease;
    time-ms-transition: 1s all ease;
    time-o-transition: 1s all ease;
    timetransition: 1s all ease time;
    font-size: 0.8em; }
#admin-pagecontent table th:hover {
  cursor: pointer; }

/* titulo seccion y breadcrumb */
section.content-header > h1,
section.content-header ol {
  width: 49% !important;
  max-width: 49% !important;
  display: inline-block !important;
  background-color: transparent; }

/* breadcrumb */
section.content-header ol {
  border: none !important;
  text-align: right; }

section.content-header ol li.past a {
  color: #30b3ad; }

.tool-tip {
  display: none;
  position: absolute;
  top: -20px;
  background: #111;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 2px;
  left: -40px; }

@media (max-width: 768px) {
  section.content-header {
    padding: 2em 1em 1em 1em; }

  section.content-header > h1,
  section.content-header ol {
    width: 100% !important;
    max-width: 100% !important;
    display: block !important;
    margin: 0;
    padding: 0; }

  section.content-header > h1 {
    font-size: 2.5em; }

  section.content-header > ol {
    text-align: left; } }

/*# sourceMappingURL=tablesList.css.map */
