<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<!-- FONT CSS	 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Bootstrap CDN -->

<!-- FONT CSS	 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- OWN CSS -->
<link rel="stylesheet" href="{{ asset('css/_modules/translations.css') }}">
<link rel="stylesheet" href="{{ asset('admin/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/css/dataTables.bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/css/bootstrap-select.css') }}">
<link rel="stylesheet" href="{{ asset('admin/css/awesome-bootstrap-checkbox.css') }}">
<link rel="stylesheet" href="{{ asset('admin/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('admin/css/tablesList.css') }}">
<link rel="stylesheet" href="{{ asset('admin/css/keyframes/blink.css') }}">
<link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.structure.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.theme.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.min.css') }}">



<!-- Javascript needed -->
<script src="{{ asset('js/external/jquery.min.js') }}"></script>
<script src="{{ asset('js/external/npm.js') }}"></script>



