<script src="{{ asset('admin/js/jquery.min.js') }}"></script>

<script src="{{ asset('admin/js/bootstrap-select.min.js') }}"></script>

<script src="{{ asset('admin/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('admin/js/jquery.dataTables.min.js') }}"></script>

<script src="{{ asset('admin/js/dataTables.bootstrap.min.js') }}"></script>

<script src="{{ asset('admin/js/main.js') }}"></script>