<div class="ts-main-content">
    <nav class="ts-sidebar">
        <ul class="ts-sidebar-menu">

            <li class="ts-label">{{ 'str_panel' | trans }}</li>
            <!-- Home del dashboard -->
            <li class="open"><a href="/admin"><i class="fa fa-dashboard"></i>{{ 'str_dashboard' | trans }}</a></li>

            <!-- Usuarios -->
            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>{{ 'str_users' | trans }}</a>
                <ul>
                    <li><a href="/admin/insert/user">{{ 'str_createUser' | trans }}</a></li>
                    <li><a href="/admin/list/user">{{ 'str_listAllUsers' | trans }}</a></li>
                </ul>
            </li>

            <!-- Admins -->
            <li><a href="#"><i class="fa fa-key" aria-hidden="true"></i>{{ 'str_administrators' | trans }}</a>
                <ul>
                    <li><a href="/admin/insert/admin">{{ 'str_createAdmin' | trans }}</a></li>
                    <li><a href="/admin/list/admin">{{ 'str_listAllAdmins' | trans }}</a></li>
                </ul>
            </li>

            <!-- Events -->
            <li><a href="#"><i class="fa fa-hourglass-half" aria-hidden="true"></i>{{ 'str_eventos' | trans }}</a>
                <ul>
                    <li><a href="/admin/insert/event">{{ 'str_createEvent' | trans }}</a></li>
                    <li><a href="/admin/list/event">{{ 'str_listAllEvents' | trans }}</a></li>
                    <li><a href="/admin/history/event">{{ 'str_purchaseHistory' | trans }}</a></li>
                </ul>
            </li>

            <!-- Categories -->
            <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i>{{ 'str_categorias' | trans }}</a>
                <ul>
                    <li><a href="/admin/insert/category">{{ 'str_createCategory' | trans }}</a></li>
                    <li><a href="/admin/list/category">{{ 'str_listAllCategories' | trans }}</a></li>
                </ul>
            </li>

            <!-- Tags -->
            <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>{{ 'str_tags' | trans }}</a>
                <ul>
                    <li><a href="/admin/insert/tag">{{ 'str_createTag' | trans }}</a></li>
                    <li><a href="/admin/list/tag">{{ 'str_listAllTags' | trans }}</a></li>
                </ul>
            </li>

            <!-- Validate Users -->

            <li><a href="/admin/validate/list">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    {{ 'str_validateUsers' | trans }}
                    {% if checkUsersToValidate %}
                        <span class="blink advice-new green">{{ 'str_new' | trans }}</span>
                    {% endif %}
                </a>
            </li>

            <!-- Check petitions -->
            <li><a href="/admin/petitions">
                    <i class="fa fa-inbox" aria-hidden="true"></i>
                    {{ 'str_checkPetitions' | trans }}
                    {% if checkPetitionsPending %}
                        <span class="blink advice-new blue">{{ 'str_new' | trans }}</span>
                    {% endif %}
                </a>
            </li>

            <!-- Petitions history (only checked) -->
            <li><a href="/admin/history/petitions">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    {{ 'str_petitionsHistory' | trans }}
                </a>
            </li>



            <!-- Account from above -->
            <ul class="ts-profile-nav">
                <!--<li><a href="#">{{ 'str_help' | trans }}</a></li>
                <li><a href="#">{{ 'str_settings' | trans }}</a></li>-->
                <li class="ts-account">
                    <a href="#">
                        <img src="img/ts-avatar.jpg" class="ts-avatar hidden-side" alt="">
                        {{ app.user.username }} <i class="fa fa-angle-down hidden-side"></i></a>
                    <ul>
                        <li><a href="/">{{ 'str_salirDeAdmin' | trans }}</a></li>
                        <li><a href="/logout">{{ 'str_logout' | trans }}</a></li>
                    </ul>
                </li>
            </ul>

        </ul>
    </nav>
</div>