#footer {
  margin-top: 20em;
  padding: 5em 0;
  background-color: white;
  border-top: 2px solid #30b3ad; }
  #footer #social-media a.social-link {
    color: #30b3ad; }
  #footer #social-media p {
    color: #676767; }
  #footer #social-media p.txt-railway {
    font-weight: bold; }

#change-language-wrapper {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 998;
  margin: 0 !important; }
  #change-language-wrapper button {
    background: transparent;
    border: none;
    color: #30b3ad;
    padding: 0.5em 1em;
    font-size: 1em !important;
    margin: 0 !important; }
    #change-language-wrapper button i {
      margin-left: 0.5em; }

#languagesList {
  display: none; }
  #languagesList div {
    background-color: #30b3ad;
    font-size: 0.9em;
    text-align: left;
    padding: 0.5em;
    font-size: 1.2em;
    color: white; }
  #languagesList div:hover {
    cursor: pointer;
    font-weight: bold;
    background: #2b9f9a; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

/*# sourceMappingURL=app.css.map */
