#petition-wrapper {
  margin-top: 5em; }

form {
  font-family: "Roboto", sans-serif; }

div.form-div-full {
  display: block;
  width: 100%;
  max-width: 100%; }
  div.form-div-full div {
    width: 100%;
    max-width: 100%;
    display: block; }
    div.form-div-full div label {
      display: block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 300;
      margin-top: 3em;
      color: #555;
      text-align: left; }
    div.form-div-full div input, div.form-div-full div textarea {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
    div.form-div-full div textarea {
      height: 125px;
      max-height: 125px; }

button[type="submit"] {
  padding: 10px 12px;
  margin-bottom: 0;
  margin-top: 1em;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  background: #30b3ad;
  color: white;
  font-size: 2em; }

button[type="submit"]:hover {
  background-color: #219e98;
  cursor: pointer; }

/*# sourceMappingURL=petition.css.map */
