ul.tags {
  margin: 0;
  padding: 0;
  width: 80%; }
  ul.tags li.tag {
    padding: 0.4em 0.5em;
    font-size: 0.9em;
    display: inline-block;
    margin: 0.2em;
    color: white;
    background: #30b3ad;
    background: -moz-linear-gradient(top, #30b3ad 0%, #3ac2b9 100%);
    background: -webkit-linear-gradient(top, #30b3ad 0%, #3ac2b9 100%);
    background: -o-linear-gradient(top, #30b3ad 0%, #3ac2b9 100%);
    background: -ms-linear-gradient(top, #30b3ad 0%, #3ac2b9 100%);
    background: linear-gradient(to bottom, #30b3ad 0%, #3ac2b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30b3ad', endColorstr='#3ac2b9', GradientType=0 );
    border-color: #d6e9c6; }
  ul.tags li:hover {
    cursor: pointer;
    background: #229993;
    background: -moz-linear-gradient(top, #229993 0%, #23ada4 100%);
    background: -webkit-linear-gradient(top, #229993 0%, #23ada4 100%);
    background: -o-linear-gradient(top, #229993 0%, #23ada4 100%);
    background: -ms-linear-gradient(top, #229993 0%, #23ada4 100%);
    background: linear-gradient(to bottom, #229993 0%, #23ada4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#229993', endColorstr='#23ada4', GradientType=0 ); }

#accordion .header-accordion {
  padding: 1.2em 2em 0.9em 3em;
  color: white;
  border-color: #d6e9c6;
  text-transform: capitalize;
  letter-spacing: 3px;
  background: #006666;
  background: -moz-linear-gradient(top, #006666 0%, teal 100%);
  background: -webkit-linear-gradient(top, #006666 0%, teal 100%);
  background: -o-linear-gradient(top, #006666 0%, teal 100%);
  background: -ms-linear-gradient(top, #006666 0%, teal 100%);
  background: linear-gradient(to bottom, #006666 0%, teal 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006666', endColorstr='#008080', GradientType=0 ); }
#accordion .header-accordion:hover, #accordion .header-accordion:focus, #accordion .header-accordion:active {
  outline: none;
  background: #004d4d;
  background: -moz-linear-gradient(top, #004d4d 0%, #006666 100%);
  background: -webkit-linear-gradient(top, #004d4d 0%, #006666 100%);
  background: -o-linear-gradient(top, #004d4d 0%, #006666 100%);
  background: -ms-linear-gradient(top, #004d4d 0%, #006666 100%);
  background: linear-gradient(to bottom, #004d4d 0%, #006666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d4d', endColorstr='#006666', GradientType=0 ); }
#accordion ul.tags {
  width: 100%; }
  #accordion ul.tags li.tag {
    background: #006666;
    background: -moz-linear-gradient(top, #006666 0%, teal 100%);
    background: -webkit-linear-gradient(top, #006666 0%, teal 100%);
    background: -o-linear-gradient(top, #006666 0%, teal 100%);
    background: -ms-linear-gradient(top, #006666 0%, teal 100%);
    background: linear-gradient(to bottom, #006666 0%, teal 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006666', endColorstr='#008080', GradientType=0 ); }
  #accordion ul.tags li.tag:hover {
    background: #004d4d;
    background: -moz-linear-gradient(top, #004d4d 0%, #006666 100%);
    background: -webkit-linear-gradient(top, #004d4d 0%, #006666 100%);
    background: -o-linear-gradient(top, #004d4d 0%, #006666 100%);
    background: -ms-linear-gradient(top, #004d4d 0%, #006666 100%);
    background: linear-gradient(to bottom, #004d4d 0%, #006666 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d4d', endColorstr='#006666', GradientType=0 ); }

.defaultIcon {
  background-image: url("../../css/jquery-ui/images/arrow-down.png") !important;
  position: absolute;
  left: 0.5em;
  margin-top: -5px;
  margin-left: 5px;
  transform: rotate(-90deg); }

.selectedIcon {
  background-image: url("../../css/jquery-ui/images/arrow-down.png") !important;
  position: absolute;
  left: 0.5em;
  margin-top: -5px;
  margin-left: 5px; }

div.modal-header {
  border-bottom: 2px solid #006666 !important;
  background: #30b3ad;
  color: white; }
  div.modal-header h4 {
    font-size: 1.5em;
    font-weight: bold; }
  div.modal-header button.close {
    margin-top: 3px; }

div.modal-content {
  border: none !important; }
  div.modal-content form {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: 1em 0; }
    div.modal-content form header {
      margin-bottom: 1em; }
      div.modal-content form header h4 {
        font-size: 1.7em; }
        div.modal-content form header h4 span {
          margin-left: 1em;
          color: #30b3ad; }
    div.modal-content form label {
      font-weight: 400 !important;
      display: block; }
    div.modal-content form input, div.modal-content form textarea {
      border: 1px solid #dedede !important;
      display: block;
      border-radius: 2px;
      padding: 0.5em;
      width: 100%; }
    div.modal-content form textarea {
      height: 75px;
      max-height: 75px; }
    div.modal-content form input:focus, div.modal-content form input:active, div.modal-content form textarea:active, div.modal-content form textarea:focus {
      outline-color: #30b3ad; }
  div.modal-content div.modal-body {
    overflow: hidden; }
    div.modal-content div.modal-body button {
      background: #30b3ad;
      color: white;
      letter-spacing: 1px;
      border: none;
      border-bottom: 3px solid #006666 !important;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      padding: 0.751em 2.5em; }

*, p, h1, h2, h3, h4, h5, h6, span, li {
  font-family: "Roboto", sans-serif; }

#main {
  margin-top: 3em; }

#personalInformation h2, #profiles h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 500; }

div.info-wrapper {
  margin-bottom: 0.5em; }
  div.info-wrapper h3, div.info-wrapper p {
    margin: 0;
    color: #333333;
    font-size: 1.2em; }
  div.info-wrapper h3 {
    font-weight: 500; }
    div.info-wrapper h3 i.edit-data {
      margin-left: 0.5em;
      font-size: 0.7em; }
    div.info-wrapper h3 i.edit-data:hover {
      cursor: pointer; }
  div.info-wrapper p {
    font-weight: 200; }

#profiles p, #allTagsAvailable p {
  font-weight: 100;
  font-size: 1.2em;
  text-align: justify; }
#profiles .panel-body, #allTagsAvailable .panel-body {
  font-weight: 100;
  font-size: 1em;
  text-align: justify; }

div.modal-header {
  border-bottom: 2px solid #219e98 !important;
  background: #30b3ad;
  color: white; }
  div.modal-header h4 {
    font-size: 1.5em; }
  div.modal-header button.close {
    margin-top: 3px; }

div.modal-content {
  border: none !important; }
  div.modal-content form {
    overflow: hidden; }
    div.modal-content form label {
      font-weight: 400; }
    div.modal-content form input {
      border-color: #dedede !important; }
    div.modal-content form input:focus, div.modal-content form input:active {
      outline-color: #30b3ad; }
  div.modal-content div.modal-body button, div.modal-content div.modal-body button {
    background: #30b3ad;
    color: white;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid #219e98;
    font-weight: 100; }

/*# sourceMappingURL=profile.css.map */
