// VARIABLES
$RGBmainColor: rgb(48, 179, 173)
$RGBmainColorHover: rgb(33,158,152)
$mainFontFamily: "Roboto", sans-serif


// Specific
#login-wrapper
	margin-top: 5em


// Content
form
	margin: 0 auto
	font-family: $mainFontFamily
	// Titulo del formulario
	h2
		font-size: 3em
		font-family: $mainFontFamily
		font-weight: 500
		color: $RGBmainColor
		text-align: center
		text-transform: uppercase
		margin-top: 1em
	// Divs generados por symfony con label e input dentro
	div
		display: inline-block
		width: 49%
		max-width: 49%

	label,input
		width: 100%
		max-width: 100%

	// Indica el campo
	label
		font-weight: 300
		margin-top: 3em
		color: #555
		text-align: left

	//Introducir el valor
	input
		border: 1px solid #dedede
		border-bottom: 3px solid $RGBmainColor
		padding: 0.5em

	// Boton de aceptar
	button[type=submit]
		background: $RGBmainColor
		color: white
		font-weight: bold
		font-size: 3em
		margin-top: 1em
		border: none
		text-align: center
		width: 100%
		max-width: 100%

	//Boton de aceptar efecto <hover>
	button[type=submit]:hover
		cursor: pointer
		background: $RGBmainColorHover