@import '_modules/navigator-top'
@import '_modules/event-row'
@import '_mediaqueries/index'

// ajuste vertical
#content-wrapper
  margin-top: 7em

// Resize events
a.event-element > article.event
  height: 315px
  max-height: 315px