//Centralizamos en el medio de la pantalla el formulario
#petition-wrapper
  margin-top: 5em



// Estilo de letra para todo el formulario
form
  font-family: "Roboto", sans-serif

// <div> con input interior del 100%
div.form-div-full
  display: block
  width: 100%
  max-width: 100%

  div
    width: 100%
    max-width: 100%
    display: block

    // estilo de la cabecera de los inputs
    label
      display: block
      max-width: 100%
      margin-bottom: 5px
      font-weight: 300
      margin-top: 3em
      color: #555
      text-align: left

    // Estilos generales para los input
    input, textarea
      display: block
      width: 100%
      height: 34px
      padding: 6px 12px
      font-size: 14px
      line-height: 1.42857143
      color: #555
      background-color: #fff
      background-image: none
      border: 1px solid #ccc
      border-radius: 4px
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    textarea
      height: 125px
      max-height: 125px



button[type="submit"]
  padding: 10px 12px
  margin-bottom: 0
  margin-top: 1em
  font-weight: 400
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: 4px
  width: 100%
  background: #30b3ad
  color: white
  font-size: 2em
button[type="submit"]:hover
  background-color: #219e98
  cursor: pointer