// _mediaqueries
@import '_modules/comments'
@import '_modules/modals'
@import '_mediaqueries/product'


// Colors
$RGBmainColor: rgb(48, 179, 173)
$RGBmainColorHover: rgb(33,158,152)

#images-wrapper-responsive
  display: none
#tags-wrapper-responsive
  display: none


#product
  margin-top: 3em

  // Conteneodr seccion imagenes
  #images-wrapper
    position: relative
    width: 100%
    max-width: 100%

    // Imagen grande del evento
    #image-active
      position: relative
      overflow: hidden
      padding: 0.5em
      img
        position: relative
        width: 100%
        max-width: 100%
        max-height: 350px
      img:hover
        cursor: pointer

    // Listado de las demás fotos en caso de existir
    #image-list
      margin-top: 0.5em
      ul
        padding: 0
        li
          position: relative
          display: inline-block
          list-style: none
          width: 19%
          max-width: 19%
          padding: 0.5em
          img
            max-width: 100%
            width: 100%
            max-height: 60px
          img:hover
            cursor: pointer

  // Tags
  #tags-wrapper
    margin-top: 4em
    margin-bottom: 2em
    h2
      font-weight: bold
      color: #282828
      text-transform: capitalize
    // Cada uno de los tags
    span.tag
      background: $RGBmainColor
      padding: 0.4em 0.5em
      color: white
      font-weight: bold
      font-size: 1em
      display: inline-block
      margin: 0.1em

    span.tag:hover
      background: rgb(33,158,152)
      cursor: pointer



  // Titulo del evento <h1>
  #product-title
    margin: 0
    font-weight: bold
    color: #282828


  // Descripcion wrapper del evento
  #description-info
    margin-top: 2em
    // Todos los textos interiores
    p
      line-height: 1.5em
      color: #282828
      text-align: justify
    // Titulos de seccion: descripcion, fecha, website..
    h2.section-title
      font-weight: bold
      font-size: 1em
      margin-top: 2em
      color: #282828
      text-transform: capitalize


  // Contenedor de todas las fechas
  #dates-wrapper
    margin-top: 2em
    // Fecha realizacion y validez
    div.date-wrapper
      display: inline-block
      width: 48%
      max-width: 48%
      position: relative
      i
        font-size: 3em
        position: absolute
        top: 0
        left: 0
      p
        padding-left: 4em
        margin-bottom: 0 !important

  //Website
  #website-link
    color: $RGBmainColor

  // Contenedor del mapa
  #map-wrapper
    position: relative
    iframe
      position: relative
      width: 100%
      max-width: 100%
  // Color de: ampliar mapa
  .google-maps-link a
    color: $RGBmainColor !important

  // Contenedor precio y botones compra/reserva
  #action-buttons-wrapper
    margin-top: 5em

  // precio
  #action-buttons-wrapper h1
    color: $RGBmainColor
    font-weight: bold
    font-size: 5em
    text-align: center
    text-transform: uppercase

  // Botones para reservar / comprar
  #action-buttons button
    color: white
    font-weight: bold
    font-size: 1.25em
    padding: 0.5em 1em
    text-transform: uppercase
    margin-bottom: 0.5em
    border: none
    width: 100%
    max-width: 100%
    background: $RGBmainColor
    display: block
    text-transform: capitalize

  // Botones compra/reserva efecto <hover>
  #action-buttons button:hover
    background: $RGBmainColorHover
    cursor: pointer



