{% extends "AppBundle::layout.html.twig" %}

{# Macro usado para printear la miniatura o cuadrado de un evento #}
{% import "AppBundle:macros:event.html.twig" as eventMacros %}



{# BROWSER TITLE #}
{% block browserTitle %}{{ 'str_tituloPaginaCategory' | trans }}{% endblock %}


{# OWN JS  #}
{%  block ownjs %}
    <script src="{{ asset('js/subcategory.js') }}"></script>
    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui/rangeSlider.js') }}"></script>
    <script src="{{ asset('js/_modules/jquery.range.js') }}"></script>
{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/subcategory.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_modules/jquery.range.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
{% endblock %}


{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}
{# Searcher #}
{% block headerSearcher %} {{ include('AppBundle::modules/header.html.twig') }} {% endblock %}
{# Main navigator horizontal #}
{% block navigatorMain %} {{ include('AppBundle::modules/navigator-main.html.twig') }} {% endblock %}


{# Content #}
{% block content %}
    {# All wrapper #}
    <div id="big-wrapper" class="row">
        <div class="fluid-container">
            {# Left content #}
            <aside id="aside" class="col-md-3">
                {# Left menu #}
                <ul id="subcategories" class="submenu">
                    {# Header #}
                    <header class="submenu-header">
                        <h2>{{ 'str_subcategorias' | trans }}</h2>
                        <i class="fa fa-plus right" aria-hidden="true"></i>
                    </header>
                    {# List #}
                    <div class="container-responsive">
                        {% for subcategory in subcategories %}
                            <li>
                                <a href="/subcategory/{{ subcategory.subcategory.id }}">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>{{ subcategory.subcategory.name }} ({{ subcategory.count }})
                                </a>
                            </li>
                        {% endfor %}
                    </div>
                </ul>

                {# subcategories #}
                <ul id="filters" class="submenu">
                    {# Header #}
                    <header class="submenu-header">
                        <h2>{{ 'str_filtros' | trans }}</h2>
                        <i class="fa fa-plus right" aria-hidden="true"></i>
                    </header>

                    {# List #}
                    <div class="container-responsive">
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <div class="filter-wrapper">
                                <header>
                                    <h3>{{ 'str_price' | trans }}</h3>
                                </header>

                                <div class="checkbox-option">
                                    <input type="checkbox" /> {{ 'str_ascendente' | trans }}
                                </div>

                                <div class="checkbox-option">
                                    <input type="checkbox" /> {{ 'str_descendiente' | trans }}
                                </div>
                            </div>
                        </li>


                        {# Price sliderBar filter#}
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <div class="filter-wrapper">
                                <header>
                                    <h3>{{ 'str_priceRange' | trans }}</h3>
                                </header>
                                <input type="hidden" class="slider-input" value="23" />
                            </div>
                        </li>

                        {# Date pickers filter #}
                        <li id="datePicker-wrapper">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <div class="filter-wrapper">
                                <header>
                                    <h3>{{ 'str_date' | trans }}</h3>
                                </header>

                                <p>{{ 'str_desde' | trans }}</p>
                                <input type="text" id="fechaMin" class="datePicker">

                                <p>{{ 'str_hasta' | trans }}</p>
                                <input type="text" id="fechaMax" class="datePicker">
                            </div>
                        </li>
                    </div>
                </ul>
            </aside>

            {# Right content #}
            <main id="main" class="col-md-9">
                <!-- All events wrapper -->
                <section id="content-wrapper">
                    {% if recomendados is defined and recomendados != null and is_granted('ROLE_USER') %}
                        <!-- All events row -->
                        <div class="event-row row">
                            <div class="container">

                                <header>
                                    <h1>{{ 'str_recomendados' | trans }}</h1>
                                </header>

                                {{ eventMacros.printEvent(recomendados) }}

                            </div>
                        </div>
                        <!-- End event wrapper -->
                    {% endif %}

                    <!-- All events row -->
                    <div class="event-row row">
                        <div class="container">

                            <header>
                                <h1>{{ 'str_allEvents' | trans }}</h1>
                            </header>
                            {{ eventMacros.printEvent(events) }}

                        </div>
                    </div>
                    <!-- End event wrapper -->
                    
                </section>
            </main>
        </div>
    </div>
{% endblock %}


{# Footer #}
{% block footer %}{{ include('AppBundle::modules/footer.html.twig') }}{% endblock %}