@media (max-width: 992px) {
  #admin-pagecontent {
    margin-top: 5em; }

  section.content-header > h1,
  section.content-header ol {
    padding: 0.5em; } }
@media (max-width: 767px) {
  #admin-pagecontent table td p {
    display: block !important; } }
@media (max-width: 650px) {
  section.content-header > h1 {
    font-size: 1.25em; }

  section.content-header ol {
    font-size: 0.8em; } }

/*# sourceMappingURL=tablesList.css.map */
