{% extends "AppBundle::layout.html.twig" %}

{# BROWSER TITLE #}
{% block browserTitle %}Test{% endblock %}

{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/form-insert.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
{% endblock %}

{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}

{# Content #}
{% block content %}
    <div class="row">
        <div class="container-fluid">
            <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
                {{ form_start(formCategory) }}
                <h2>New category</h2>
                {{ form_errors(formCategory) }}
                {{ form_row(formCategory.name) }}
                {{ form_row(formCategory.description) }}
                {{ form_row(formCategory.parentCategory) }}
                {{ form_row(formCategory.isPublic) }}
                {{ form_row(formCategory._token) }}
                <button type="submit">Add Category!</button>
                {{ form_end(formCategory) }}
            </section>
        </div>
    </div>
{% endblock %}