{% extends "AppBundle::layout.html.twig" %}
{# ... you will probably extends your base template, like base.html.twig #}

{# BROWSER TITLE #}
{% block browserTitle %}{{ 'str_tituloPaginaLogin' | trans }}{% endblock %}

{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/form-insert.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
{% endblock %}

{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}

{# Content #}
{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row" id="login-wrapper">
        <div class="container-fluid">
            <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">

                <form action="{{ path('login_user') }}" method="post">
                    <label for="username">{{ 'str_nombreUsuario' | trans }}:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    <label for="password">{{ 'str_password' | trans }}:</label>
                    <input type="password" id="password" name="_password" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit">{{ 'str_login' | trans }}</button>
                </form>

            </section>
        </div>
    </div>
{% endblock %}