{% extends "AppBundle::layout.html.twig" %}

{# BROWSER TITLE #}
{% block browserTitle %}Test{% endblock %}

{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/form-insert.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
{% endblock %}

{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}

{# Content #}
{% block content %}
    <div class="row">
        <div class="container-fluid">
            <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
                {{ form_start(formAdmin) }}
                <h2>Create admin</h2>
                {{ form_errors(formAdmin) }}
                {{ form_row(formAdmin.name) }}
                {{ form_row(formAdmin.surname) }}
                {{ form_row(formAdmin.userName) }}
                {{ form_row(formAdmin.email) }}
                {{ form_row(formAdmin.plainPassword.first) }}
                {{ form_row(formAdmin.plainPassword.second) }}
                {{ form_row(formAdmin._token) }}
                <button type="submit">Register Admin!</button>
                {{ form_end(formAdmin) }}
            </section>
        </div>
    </div>
{% endblock %}