#petitions-wrapper
  .panel-body
    p, h3
      margin: 0 !important
    p
      text-align: justify

  // posicionamos la <a> como un bloque para que vaya bien el tooltip
  .panel-heading
    a.tooltips
      position: absolute
      top: 0
      right: 0
      display: block
      width: 30px
      height: 30px

@media (max-width: 768px)
  #petitions-wrapper .panel-petition.panel-element
    width: 95%
    max-width: 95%
    margin: 0 auto
    display: block