@import "_modules/button-submit"

$corporativeColor: rgb(48, 179, 173)


// Toda la pagina dinamica del formulario Event
#admin-pagecontent
  overflow: hidden
  form
    width: 100%
    margin: 0 auto
    padding: 0 0 3em 0
    margin-top: 3em
    // margen para separar los campos
    > div
      margin-bottom: 2em

    div.form-div-normal
      display: block
      width: 100%
      max-width: 100%
      div
        width: 49%
        max-width: 49%
        display: inline-block

        // estilo de la cabecera de los inputs
        label
          display: block
          max-width: 100%
          margin-bottom: 5px
          font-weight: 400

        // Estilos generales para los input
        input, select
          display: block
          width: 100%
          height: 34px
          padding: 3px 6px
          font-size: 14px
          line-height: 1.42857143
          color: #555
          background-color: #fff
          background-image: none
          border: 1px solid #ccc
          border-radius: 4px
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
          -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
          -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s


      div.form-div-checkbox
        > div
          width: 100%
          max-width: 100%
          position: relative
          text-align: right
        input
          width: 15px
          height: 15px
          position: absolute
          top: 0
          right: 50px
        label
          font-weight: 400
          display: inline-block
          margin-bottom: 5px
          padding-right: 100px

      div.form-div-checkbox-left
        > div
          width: 100%
          max-width: 100%
          position: relative
          text-align: left
        input
          width: 15px
          height: 15px
          position: absolute
          top: 0
          left: 50px
        label
          font-weight: 400
          display: inline-block
          margin-bottom: 5px
          padding-left: 100px


    div.form-div-full
      display: block
      width: 100%
      max-width: 100%
      div
        width: 100%
        max-width: 100%
        display: block

        // estilo de la cabecera de los inputs
        label
          display: block
          max-width: 100%
          margin-bottom: 5px
          font-weight: 400

        // Estilos generales para los input
        input, select, textarea
          display: block
          width: 100%
          height: 34px
          padding: 6px 12px
          font-size: 14px
          line-height: 1.42857143
          color: #555
          background-color: #fff
          background-image: none
          border: 1px solid #ccc
          border-radius: 4px
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
          -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
          -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        textarea
          height: 125px
          max-height: 125px

        // tags
        #event_form_tags
          height: 93px

      // Checkbox a la derecha y texto
      div.form-div-checkbox
        > div
          width: 100%
          max-width: 100%
          position: relative
          text-align: right
        input
          width: 15px
          height: 15px
          position: absolute
          top: 0
          right: 50px
        label
          font-weight: 400
          display: inline-block
          margin-bottom: 5px
          padding-right: 100px

      // Checkbox a la izquierda y texto
      div.form-div-checkbox-left
        > div
          width: 100%
          max-width: 100%
          position: relative
          text-align: left
        input
          width: 15px
          height: 15px
          position: absolute
          top: 0
          left: 50px
        label
          font-weight: 400
          display: inline-block
          margin-bottom: 5px
          padding-left: 100px


// contenedor de las fechas
#event_form_date, #event_form_validDate
  width: 100% !important
  max-width: 100% !important

// Contenedor de los contenedores de año, mes y dia
#event_form_date_date, #event_form_validDate_date
  width: 65% !important
  max-width: 65% !important
  select
    width: 32.5% !important
    max-width: 32.5% !important
    display: inline-block !important
    padding: 0

// Contenedor de los divs contenedores de la hora
#event_form_date_time, #event_form_validDate_time
  width: 35% !important
  max-width: 35% !important
  select
    width: 48% !important
    max-width: 48% !important
    display: inline-block !important
    padding: 0 !important

// Edicion de imagenes
#edit-images-wrapper
  position: relative
  // Contenedor de la imagen
  >div
    display: inline-block
    position: relative
    width: 19.5%
    margin-top: 0.5em
    img
      width: 100%
      max-width: 100%
      max-height: 70px
      height: 70px

  // Div que simula el boton para borar
  div.delete-file
    padding: 0.5em 1em
    text-align: center
    background-color: $corporativeColor
    color: white
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
  div.delete-file:hover
    cursor: pointer

// Mapa
#map
  display: block
  width: 100%
  max-width: 100%
  height: 250px
  max-height: 250px
  iframe
    width: 100%
    max-width: 100%
    height: 250px
    max-height: 250px