<form id="comment-form" action="/product/{{ event.id }}/new/comment" method="post">
    {# Star rating system #}
    <input id="comment-title" placeholder="{{ 'str_tituloComentario' | trans }}" type="text" name="titulo">
    <textarea name="contenido" id="comment-textarea" placeholder="{{ 'str_sloganComentario' | trans }}" cols="30" rows="10"></textarea>

    <div class='starRating'>
        <div class="form-group">
            <select class="form-control" id="valoration" name="valoracion">
                <option value="1">1 {{ 'str_estrella' | trans }}</option>
                <option value="2">2 {{ 'str_estrella' | trans }}</option>
                <option value="3" selected>3 {{ 'str_estrella' | trans }}</option>
                <option value="4">4 {{ 'str_estrella' | trans }}</option>
                <option value="5">5 {{ 'str_estrella' | trans }}</option>
            </select>
        </div>
    </div>

    <button id="post">{{ 'str_publicar' | trans }}</button>
</form>