<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT CSS	 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<!-- Javascript needed -->
<script src="{{ asset('js/external/jquery.min.js') }}"></script>



<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-theme.min.css') }}">
<!-- Javascript -->
<script src="{{ asset('js/external/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/external/npm.js') }}"></script>



<!-- App CSS -->
<link rel="stylesheet" href="{{ asset('css/app.css') }}">



<!-- Common CSS -->
<link rel="stylesheet" href="{{ asset('css/_modules/navigator-top.css') }}">
<link rel="stylesheet" href="{{ asset('css/_modules/navigator-main.css') }}">
<link rel="stylesheet" href="{{ asset('css/_modules/header.css') }}">
<link rel="stylesheet" href="{{ asset('css/_modules/footer-social.css') }}">



<!-- App Javascript -->
<script src="{{ asset('js/app.js') }}"></script>

