<!-- Navigator -->
<nav id="daddynav" role="navigation" class="navbar navbar-default">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <!-- Buton que aparece en versión responsive -->
        <button id="daddy-toggle-button" type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <!-- Cada una de las barras -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>


    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">

        <!-- Info de telefono y correo -->
        <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-phone"></i> 933478742</a></li>
            <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> info@evolution.com</a></li>
        </ul>


        <!-- Derecha de la barra de nav -->
        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                {% if is_granted('ROLE_USER') %}
                    <li><a href="/login"><i class="fa fa-paper-plane" aria-hidden="true"></i> {{ 'str_requestPetition' | trans }}</a></li>
                    <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> {{ app.user.userName }} </a></li>
                {% else %}
                    <li><a href="/admin"><i class="fa fa-user" aria-hidden="true"></i> {{ 'str_administracion' | trans }} </a></li>
                {% endif %}
                <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'str_logout' | trans }}</a></li>
            {% else %}
                <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'str_login' | trans }}</a></li>
                <li><a href="/signup"><i class="fa fa-user-plus"></i> {{ 'str_signup' | trans }}</a></li>
            {% endif %}
        </ul>

    </div>

</nav>

<aside id="change-language-wrapper">
    <button>{{ 'str_cambiarIdioma' | trans }}<i class="fa fa-caret-down" aria-hidden="true"></i></button>

    <div id="languagesList">
        <div onclick="setLocale('en')">{{ 'str_english' | trans }}</div>
        <div onclick="setLocale('es')">{{ 'str_spanish' | trans }}</div>
    </div>
</aside>

{% block someAjaxActions %}
    <script>

        // Mostramos/ocultamos los idiomas pertinentes
        $(document).ready(function(){
            $('#change-language-wrapper button').click(function(){
                if($('#languagesList').is(':visible'))
                    $('#languagesList').slideUp('fast');
                else
                    $('#languagesList').slideDown('fast');
            });
        });

        function setLocale(locale)
        {
            $.ajax({
                url: '/set/locale/'+locale,
                type: 'get'
            }).success(function (data) {
                if(data.type == 'OK'){
                    window.location.reload();
                }
            });

        }
    </script>
{% endblock %}