// VARIABLES
$RGBmainColor: rgb(48, 179, 173)
$RGBmainColorHover: #006666
$mainFontFamily: "Roboto", sans-serif
$darkGrey: #333333


// Cabecera de los modals de cambiar
div.modal-header
  border-bottom: 2px solid $RGBmainColorHover !important
  background: $RGBmainColor
  color: white
  // Titulo del modal
  h4
    font-size: 1.5em
    font-weight: bold

  button.close
    margin-top: 3px



// Botón de dentro del modal
div.modal-content
  border: none !important
  form
    overflow: hidden
    width: 90%
    margin: 0 auto
    padding: 1em 0


    header
      margin-bottom: 1em
      h4
        font-size: 1.7em
        // Precio en los modals de reserva/compra
        span
          margin-left: 1em
          color: $RGBmainColor
    label
      font-weight: 400 !important
      display: block
    input, textarea
      border: 1px solid #dedede !important
      display: block
      border-radius: 2px
      padding: 0.5em
      width: 100%
    textarea
      height: 75px
      max-height: 75px
    input:focus, input:active, textarea:active, textarea:focus
      outline-color: $RGBmainColor

  div.modal-body
    overflow: hidden
    button
      background: $RGBmainColor
      color: white
      letter-spacing: 1px
      border: none
      border-bottom: 3px solid $RGBmainColorHover !important
      font-weight: 400
      font-family: $mainFontFamily
      padding: 0.751em 2.5em



