// Imports
@import '../_mediaqueries/navigator-main'


// Colors
$corporativeColor : #30b3ad
$navMainBG: #333
$scrollColor: rgba(33,25,27,1)




// <nav> All content del menu principal
#nav-categories
  background-color: $navMainBG
  border-bottom: 5px solid #30b3ad
  border-top: 1px solid #333
  padding: 0


// Header que se muestra en version movil
#nav-categories-header-responsive
  padding: 1.75em
  border-bottom: 5px solid #30b3ad
  h1
    color: white
    text-align: center
    opacity: 0.8
    margin: 0
    font-size: 1.5em
    font-weight: bold
    text-transform: uppercase
    position: relative
    i
      position: absolute
      top: 0
      right: 0
      -webkit-transition: all 0.7s ease
      time-moz-transition: all 0.7s ease
      time-ms-transition: all 0.7s ease
      time-o-transition: all 0.7s ease
      timetransition: all 0.7s ease time

// <ul> del menu principal
#categories-list
  list-style-type: none
  margin: 0 auto
  padding: 0
  text-align: center
  display: none
  >li
    display: block
    text-transform: uppercase
    font-size: 1.25em
    display: block
    background: white
    text-transform: uppercase
    font-size: 1.25em
    list-style: none
    border: 1px solid #dedede
    margin-bottom: -1px
    position: relative
    // Cada uno de los links de la category
    >a
      opacity: 0.8
      display: block
      text-align: center
      padding: 30px 16px
      text-decoration: none
      text-transform: uppercase
      font-weight: 500
      font-family: "Roboto", sans-serif
      font-size: 0.8em
      color: #111 /* cambiar color por mas oscuro */
      text-align: center
      padding: 0.5em 0
      span.evo-text
        font-weight: 100 !important
        text-transform: uppercase
        color: #555
    ul.hover-menu
      display: none


    // Efecto cursor por encima
    >a:hover
      opacity: 1
      color: #555
      font-weight: bold

// Efecto cursor en header o de cada una de las categorias
#nav-categories-header-responsive:hover,
#categories-list li:hover
  cursor: pointer