// Colors
$corporativeColor: rgb(48, 179, 173)

// Estilo del botón de idiomas
#change-language-wrapper
  position: absolute
  top: 60px
  right: 10px
  z-index: 998
  margin: 0 !important
  // Boton que abre el desplegable de los distintos idiomas
  button
    background: transparent
    border: none
    color: $corporativeColor
    padding: 0.5em 1em
    font-size: 1em !important
    margin: 0 !important
    i
      margin-left: 0.5em

#languagesList
  display: none
  div
    background-color: $corporativeColor
    font-size: 0.9em
    text-align: left
    padding: 0.5em
    font-size: 1.2em
    color: white
  div:hover
    cursor: pointer
    font-weight: bold
    background: darken($corporativeColor, 5%)