{% extends "AppBundle::layout.html.twig" %}

{# Macro ussado para printear contenido de la pagina product #}
{% import "AppBundle:macros:product.html.twig" as productMacros %}
{# Macro ussado para printear contenido de {{ tags }} #}
{% import "AppBundle:macros:tags.html.twig" as tagsMacros %}




{# BROWSER TITLE #}
{% block browserTitle %}{{ 'str_tituloPaginaProducto' | trans }}{% endblock %}


{# OWN JS  #}
{%  block ownjs %}
    <script src="{{ asset('js/product.js') }}"></script>
{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/_modules/breadcrumbs.css') }}">
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
{% endblock %}


{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}


{# Dynamic content #}
{% block content %}
    {# Migas de pan / breadcrumbs #}
    <aside class="container" id="breadcrumb-wrapper">
        <div class="row">

            {# Creamos el contenido del pan de migas via macro. /macros/breadcrumb #}
            <ol class="breadcrumb">

                <li><a href="/">{{ 'str_home' | trans }}</a></li>

                <li><a href="/category/{{ event.category.id }}">{{ event.category.name }}</a></li>

                <li class="active">{{ event.title }}</li>

            </ol>
        </div>
    </aside>

    {# Contenido principal #}
    <main id="product" class="container">
        <div class="row">
            {# Columna de la derecha, INFORMACION#}
            <div id="right-wrapper" class="col-xs-12 col-sm-6 col-sm-push-6">

                {# Header del evento #}
                <header id="product-header">
                    {# titulo del evento #}
                    <h1 id="product-title">{{ event.title }}</h1>
                </header>


                {# Seccion de descripcion e informacion#}
                <section id="description-info">
                    {# Contenedor de toda la informacion del producto #}
                    <main>
                        {# Contenedor de todas las imagenes#}
                        <div id="images-wrapper-responsive">

                            {# Contenedor de la imagen grande ACTIVA#}
                            <header id="image-active-responsive">
                                {% if event.files %}

                                    {% set trobat = 0 %}
                                    {% for image in event.files %}

                                        {% if image.type == 'image' and trobat == 0 %}
                                            <img src="{{ asset(image.path) }}" alt="{{ 'str_textoAlternativoFoto' | trans }}">
                                            {% set trobat = 1 %}
                                        {% endif %}
                                    {% endfor %}

                                {% endif %}
                            </header>

                            {% if event.files %}
                                <nav id="image-list-responsive">
                                    <ul>

                                        {# A continuación mostramos el resto de fotografías #}
                                        {% for image in event.files %}

                                            {% if image.type == 'image' %}
                                                <li class="image-list-element">
                                                    <img src="{{ asset(image.path) }}" alt="{{ 'str_textoAlternativoFoto' | trans }}">
                                                </li>
                                            {% endif %}

                                        {% endfor %}

                                    </ul>
                                </nav>
                            {% endif %}

                        </div>

                        {# Descripcion#}
                        <h2 class="section-title">{{ 'str_descripcion' | trans }}</h2>
                        <p id="description">{{ event.description }}</p>

                        {# Contenedor de fechas validez y realizacion#}
                        <div id="dates-wrapper">
                            {% if event.date and (app.user or (not app.user and event.isDateVisible == true)) %}
                                {# Fecha realizacion#}
                                <div class="date-wrapper">
                                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                    <p>{{ 'str_seCelebra' | trans }}</p>
                                    <p>{{ event.date|date('Y-m-d') }}</p>
                                </div>
                            {% endif %}




                            {% if event.validDate and (app.user or (not app.user and event.isValidDateVisible == true)) %}
                                {# Fecha caducidad#}
                                <div class="date-wrapper">
                                    <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
                                    <p>{{ 'str_plazoHasta' | trans }}</p>
                                    <p>{{ event.validDate|date('Y-m-d') }}</p>
                                </div>
                            {% endif %}
                        </div>

                        {% if event.website and (app.user or (not app.user and event.isWebsiteVisible == true)) %}
                            {# Website #}
                            <h2 class="section-title">{{ 'str_website' | trans }}</h2>
                            <p id="website-text"><a id="website-link" href="{{ event.website }}">{{ event.website }}</a></p>
                        {% endif %}

                        {% if event.location and (app.user or (not app.user and event.isLocationVisible == true)) %}
                            {# Localization#}
                            <h2 class="section-title">{{ 'str_localizacion' | trans }}</h2>
                            <p id="localization-text">{{ event.location }}</p>

                            {# Contenedor del mapa #}
                            <h2 class="section-title">{{ 'str_mapa' | trans }}</h2>
                            <div id="map-wrapper">
                                <div id="map" style="height:200px;"></div>
                            </div>
                        {% endif %}


                        {% if event.tags %}
                            {# Tags #}
                            <div id="tags-wrapper-responsive">
                                <h2>Tags</h2>
                                <div id="all-tags-responsive">
                                    {{ tagsMacros.printTags( event.tags ) }}
                                </div>
                            </div>
                        {% endif %}


                        <div id="action-buttons-wrapper">
                            {# Si el precio es visible mostraremos el precio pertinente#}
                            {% if event.price and (app.user or (not app.user and event.isPriceVisible == true)) %}
                                <header>
                                    {% if event.price > 0 %}
                                        <h1>{{ event.price }} €</h1>
                                        {% else %}<h1>{{ 'str_gratuito' | trans }}</h1>
                                    {% endif %}
                                </header>
                            {% endif %}

                            <!-- Si está logeado y el evento se puede reservar/comprar mostramos los botones -->
                            {% if is_granted('ROLE_USER') and (event.purchaseOption == 1 or event.purchaseOption == 2) %}
                                <!-- Si la sesión es de administrador no mostramos los botones -->
                                {% if not is_granted('ROLE_ADMIN') %}
                                    <div id="action-buttons">
                                    {% if event.purchaseOption == 1 %}<button data-toggle="modal" data-target="#reservationModal">{{ 'str_reservar' | trans }}</button>{% endif %}
                                    {% if event.purchaseOption == 2 %}<button data-toggle="modal" data-target="#reservationModal">{{ 'str_comprar' | trans }}</button>{% endif %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </main>
                </section>
            </div>

            <div id="left-wrapper" class="col-xs-12 col-sm-6 col-sm-pull-6">
                {# Contenedor de todas las imagenes#}
                <div id="images-wrapper">

                    {# Contenedor de la imagen grande ACTIVA#}
                    <header id="image-active">
                        {% if event.files %}

                            {% set trobat = 0 %}
                            {% for image in event.files %}
                                {% if image.type == 'image' and trobat == 0 %}
                                    <img src="{{ asset(image.path) }}" alt="{{ 'str_textoAlternativoFoto' | trans }}">
                                    {% set trobat = 1 %}
                                {% endif %}
                            {% endfor %}

                        {% endif %}
                    </header>

                    {% if event.files %}
                        <nav id="image-list">
                            <ul>

                                {# A continuación mostramos el resto de fotografías #}
                                {% for image in event.files %}

                                    {% if image.type == 'image' %}
                                        <li class="image-list-element">
                                            <img src="{{ asset(image.path) }}" alt="{{ 'str_textoAlternativoFoto' | trans }}">
                                        </li>
                                    {% endif %}

                                {% endfor %}

                            </ul>
                        </nav>
                    {% endif %}

                </div>

                {# Tags creados para que en la versión movil cambie el orden#}
                {% if event.tags %}
                    {# Tags #}
                    <div id="tags-wrapper">
                        <h2>{{ 'str_tags' | trans }}</h2>
                        <div id="all-tags">
                            {{ tagsMacros.printTags( event.tags ) }}
                        </div>
                    </div>
                {% endif %}

                <div id="comments-wrapper">
                    <h2>{{ 'str_comentarios' | trans }}</h2>
                    {% if is_granted('ROLE_USER') %}
                        {# Form to post a comment/opinion #}
                        {{ include('AppBundle::modules/commentForm.html.twig') }}
                    {% endif %}

                    {# All the user comments #}
                    <ul id="all-comments">
                        {% for comment in event.comments %}
                            <li class="user-comment">
                                <h3 class="comment-title">
                                    <span class="comment-puntuation">
                                        {% for i in 1..comment.valoracion %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                    </span>
                                    {{ comment.titulo }}
                                </h3>
                                <p class="comment-body">
                                    {{ comment.content }}
                                </p>
                                <span class="comment-author">{{ 'str_publicadoPor' | trans }} {{ comment.user.name }} {{ 'str_aLas' | trans }} {{ comment.date | date }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>

    {% if is_granted('ROLE_USER') %}
    <!-- Modal -->
    <div class="modal fade" id="reservationModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'str_detallesReserva' | trans }}</h4>
                </div>

                <div class="modal-body">
                    <form action="">
                        <header id="reservation-title">
                            <h4>{{ event.title }}
                                <span>
                                {% if event.price > 0 %}{{ event.price }} €
                                {% else %}{{ 'str_gratuito' | trans }}
                                {% endif %}
                                </span>
                            </h4>
                        </header>
                        <div class="form-group">
                            <div>
                                <label for="">{{ 'str_numeroPersonas' | trans }}</label>
                                <input type="text" placeholder="Escriba el numero de personas">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="observations">{{ 'str_observaciones' | trans }}</label>
                                <textarea name="observations" id="observations"></textarea>
                            </div>
                        </div>
                        {% if event.purchaseOption == 1 %}
                            <button type="submit" onclick="comprar({{ event.id }})" class="btn btn-default pull-right">{{ 'str_reservar' | trans }}</button>
                        {% endif %}
                        {% if event.purchaseOption == 2 %}
                            <button type="submit" onclick="comprar({{ event.id }})" class="btn btn-default pull-right">{{ 'str_comprar' | trans }}</button>
                        {% endif %}
                    </form>
                </div>
            </div>

        </div>
    </div>
    {% endif %}
{% endblock %}


{% block footer %}{{ include('AppBundle::modules/footer.html.twig') }}{% endblock %}


{% block mapjs %}
    <script>
        function initMap() {

            myCenter = {lat: {{ event.mapX }}, lng: {{ event.mapY }}};
            // Iniciamos el mapa en las coordenadas de Evolution
            var map = new google.maps.Map(document.getElementById('map'), {
                        center: myCenter,
                        zoom : 15,
                        disableDefaultUI: true
                    });

            var marker = new google.maps.Marker({
                position: myCenter,
                map: map,
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhqU8AtjPD9x73bUVFeXfkAN4N8tEBr_Y&signed_in=true&libraries=places&callback=initMap"
            async defer></script>
{% endblock %}


{% block more_scripts %}
    <script type="text/javascript">
        function comprar(id){
            $.ajax({
                url: '/product/buy/'+id,
                type: 'get'
            }).success(function (data) {
                if(data.type == 'OK'){
                    alert('COmprado o reservado con exito, aqui tendriamos que añadir un modal con la informacion de la reserva, compra, y los pasos a seguir dependiendo del tipo de evento');
                }
            });
        }
    </script>
{% endblock %}
