@media (min-width: 993px) and (max-width: 1199px) {
  a.event-element article.event img {
    max-height: 130px !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  a.event-element article.event {
    height: 350px !important;
    max-height: 350px !important; }
    a.event-element article.event img {
      height: 220px !important;
      max-height: 220px !important; } }
@media (min-width: 470px) and (max-width: 767px) {
  a.event-element {
    width: 48%;
    margin: 0;
    max-width: 48%;
    display: inline-block; }
    a.event-element img {
      height: 180px !important;
      max-height: 180px !important; } }
@media (min-width: 471px) and (max-width: 767px) {
  a.event-element article.event {
    height: 335px !important;
    max-height: 335px !important; } }
@media (min-width: 470px) and (max-width: 599px) {
  a.event-element article.event {
    height: 300px !important;
    max-height: 300px !important; } }
@media (min-width: 410px) and (max-width: 469px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 385px !important;
    max-height: 385px !important; }
    div.event-row a.event-element article.event img {
      height: 200px !important;
      max-height: 200px !important; } }
@media (max-width: 409px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 350px !important;
    max-height: 350px !important; } }
@media (min-width: 992px) {
  a.event-element article.event {
    height: 315px !important;
    max-height: 315px !important; } }

/*# sourceMappingURL=index.css.map */
