@charset "UTF-8";
@media (min-width: 768px) and (max-width: 991px) {
  #product #images-wrapper #image-active img {
    max-height: 210px !important; }
  #product #images-wrapper #image-list ul li img {
    max-height: 30px !important; }

  #product #right-wrapper {
    padding: 0 15px; } }
@media (min-width: 500px) and (max-width: 767px) {
  #images-wrapper-responsive img {
    height: 350px;
    max-height: 350px; }

  #image-list-responsive ul li img {
    max-height: 100px; } }
@media (max-width: 499px) {
  #images-wrapper-responsive img {
    height: 200px;
    max-height: 200px; }

  #image-list-responsive ul li img {
    height: 60px;
    max-height: 60px; } }
@media (max-width: 767px) {
  #right-wrapper {
    padding: 0 !important; }

  #images-wrapper-responsive {
    display: block !important; }
    #images-wrapper-responsive img {
      width: 100%;
      max-width: 100%; }

  #image-list-responsive {
    margin-top: 0.5em; }
    #image-list-responsive ul {
      padding: 0; }
      #image-list-responsive ul li {
        position: relative;
        display: inline-block;
        list-style: none;
        width: 32%;
        max-width: 32%;
        padding: 0.5em; }
        #image-list-responsive ul li img {
          max-width: 100%;
          width: 100%; }
        #image-list-responsive ul li img:hover {
          cursor: pointer; }

  #tags-wrapper-responsive h2 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 2em;
    color: #282828; }
  #tags-wrapper-responsive span.tag {
    background: #30b3ad;
    padding: 0.3em;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    display: inline-block;
    margin: 0.2em 0.1em; }
  #tags-wrapper-responsive span.tag:hover {
    background: #219e98;
    cursor: pointer; }

  #tags-wrapper-responsive {
    display: block !important; }

  #product #images-wrapper {
    display: none; }
  #product #tags-wrapper {
    display: none; }
  #product #description-info #dates-wrapper div.date-wrapper {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em; }
    #product #description-info #dates-wrapper div.date-wrapper i {
      font-size: 2em;
      top: -5px; }
    #product #description-info #dates-wrapper div.date-wrapper p {
      padding-left: 2.5em;
      display: inline-block; }
    #product #description-info #dates-wrapper div.date-wrapper p:last-child {
      padding: 0 !important; }

  #footer {
    margin-top: 10em; } }
/* Cambio tamaño @events */
@media (min-width: 768px) and (max-width: 992px) {
  a.event-element article.event {
    height: 350px !important;
    max-height: 350px !important; } }
@media (min-width: 470px) and (max-width: 767px) {
  a.event-element {
    width: 48%;
    margin: 0;
    max-width: 48%;
    display: inline-block; }
    a.event-element article.event {
      height: 350px !important;
      max-height: 350px !important; } }
@media (min-width: 410px) and (max-width: 469px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 310px !important;
    max-height: 310px !important; } }
@media (max-width: 410px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 280px !important;
    max-height: 280px !important; } }

/*# sourceMappingURL=product.css.map */
