{% extends "AppBundle::admin-layout.html.twig" %}

{# Macro usado para printear los eventos #}
{% import "AppBundle:admin:macros/adminMacros.html.twig" as eventMacros %}



{# BROWSER TITLE #}
{% block browserTitle %} Evolution dashboard{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/charts.css') }}">
{% endblock %}


{# Dynamic content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">

            <section id="main-charts">
                <div class="row">

                    <!-- Total tags -->
                    <article class=" col-xs-6 col-sm-3 main-charts-element">
                        <div>
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            <span class="count_top">{{ 'str_tags' | trans }}</span>
                            <div class="count">{{ totalTags }}</div>
                        </div>
                    </article>

                    <!-- Total categorias -->
                    <article class="col-xs-6 col-sm-3 main-charts-element">
                        <div>
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            <span class="count_top">{{ 'str_categorias' | trans }}</span>
                            <div class="count">{{ totalCategories }}</div>
                        </div>
                    </article>

                    <!-- Total eventos -->
                    <article class="col-xs-6 col-sm-3 main-charts-element">
                        <div>
                            <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                            <span class="count_top">{{ 'str_eventos' | trans }}</span>
                            <div class="count green">{{ totalEvents }}</div>
                         </div>
                    </article>

                    <!-- Total eventos destacados -->
                    <article class="col-xs-6 col-sm-3 main-charts-element">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="count_top">{{ 'str_eventosDestacados' | trans }}</span>
                            <div class="count green">{{ totalEventsFeatured }}</div>
                        </div>
                    </article>
                </div>

                <div class="row">

                    <!-- Total de usuarios de la plataforma -->
                    <article class="col-xs-6 col-sm-3 main-charts-element">
                        <div>
                            <i class="fa fa-user"></i>
                            <span class="count_top">{{ 'str_users' | trans }}</span>
                            <div class="count">{{ totalUsers }}</div>
                        </div>
                    </article>

                    <!-- Total de usuarios sin validar -->
                    <article class="col-xs-6 col-sm-3 main-charts-element">
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span class="count_top">{{ 'str_usersToValidate' | trans }}</span>
                            <div class="count">{{ usersToValidate }}</div>
                        </div>
                    </article>

                    <!-- Total de peticiones -->
                    <article class="col-xs-6 col-sm-3 main-charts-element">
                        <div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <span class="count_top">{{ 'str_peticiones' | trans }}</span>
                            <div class="count">{{ petitionsToCheck }}</div>
                        </div>
                    </article>

                    <!-- Total de comentarios/valoracions -->
                    <article class="col-xs-6 col-sm-3 main-charts-element">
                        <div>
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span class="count_top">{{ 'str_valoraciones' | trans }}</span>
                            <div class="count">{{ totalValorations }}</div>
                        </div>
                    </article>
                </div>
            </section>

            <section id="top10" class="row">

                {# TOP TAGS #}
                <article class="col-xs-12 col-sm-4">
                    <div class="box box-color-main">
                        <div class="box-header with-border">
                            <h3 class="panel-title">{{ 'str_ultimosTags' | trans }}</h3>
                        </div>

                        <div class="box-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'str_nombre' | trans }}</th>
                                    </tr>
                                    {% set listPosition = 1 %}
                                    {% for tag in lastTagsAdded %}
                                        <tr>
                                            <td>{{ listPosition }}</td>
                                            <td>{{ tag.name }}</td>
                                            <!--<td><span class="label label-default">25</span></td>-->
                                        </tr>
                                        {% set listPosition = listPosition + 1 %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>

                {# TOP CATEGORIES #}
                <article class="col-xs-12 col-sm-4">
                    <div class="box box-color-red">
                        <div class="box-header with-border">
                            <h3 class="panel-title">{{ 'str_categoriasMasUsadas' | trans }}</h3>
                        </div>

                        <div class="box-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'str_nombre' | trans }}</th>
                                    <th>{{ 'str_veces' | trans }}</th>
                                </tr>
                                {% set listPosition = 1 %}
                                {% for key, value in top5Categories %}
                                    <tr>
                                        <td>{{ listPosition }}</td>
                                        <td>{{ key }}</td>
                                        <td><span class="label label-default">{{ value }}</span></td>
                                    </tr>
                                    {% set listPosition = listPosition + 1 %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>

                {# TOP USERS #}
                <article class="col-xs-12 col-sm-4">
                    <div class="box box-color-yellow">
                        <div class="box-header with-border">
                            <h3 class="panel-title">{{ 'str_usuariosMasCompradores' | trans }}</h3>
                        </div>

                        <div class="box-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'str_nombre' | trans }}</th>
                                    <th>{{ 'str_veces' | trans }}</th>
                                </tr>

                                {% set listPosition = 1 %}
                                {% for key, value in top5Users %}
                                    <tr>
                                        <td>{{ listPosition }}</td>
                                        <td>{{ key }}</td>
                                        <td><span class="label label-default">{{ value }}</span></td>
                                    </tr>
                                    {% set listPosition = listPosition + 1 %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>

            </section>

            <section id="feedEvents" class="row">
                {{ eventMacros.printEventMostPurchased(eventsMostPurchased) }}
                {{ eventMacros.printLastComments(lastComments) }}
            </section>




        </div>
    </div>
{% endblock %}