#footer {
  margin-top: 20em;
  padding: 5em 0;
  background-color: white;
  border-top: 2px solid #30b3ad; }
  #footer #social-media a.social-link {
    color: #30b3ad; }
  #footer #social-media p {
    color: #676767; }
  #footer #social-media p.txt-railway {
    font-weight: bold; }

/*# sourceMappingURL=footer.css.map */
