#login-wrapper {
  margin-top: 5em; }

form {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  padding: 5em 0; }
  form h2 {
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #30b3ad;
    text-align: center;
    text-transform: uppercase;
    margin: 0; }
  form div.half-block {
    display: inline-block !important;
    width: 49% !important;
    max-width: 49% !important; }
  form div.signup input {
    border: 1px solid #dedede !important;
    border-bottom: 3px solid #30b3ad !important; }
  form > div {
    display: inline-block;
    width: 49%;
    max-width: 49%; }
    form > div label, form > div input {
      width: 100%;
      max-width: 100%; }
    form > div label {
      font-weight: 300;
      margin-top: 3em;
      color: #555;
      text-align: left; }
    form > div input {
      padding: 0.5em;
      border: 1px solid #ccc;
      border-radius: 2px; }
  form button[type=submit] {
    background: #30b3ad;
    color: white;
    font-weight: bold;
    font-size: 3em;
    margin-top: 1em;
    border: none;
    text-align: center;
    width: 100%;
    max-width: 100%; }
  form button[type=submit]:hover {
    cursor: pointer;
    background: #219e98; }

@media (max-width: 768px) {
  form div {
    display: block;
    width: 100%;
    max-width: 100%; } }

/*# sourceMappingURL=form-insert-user.css.map */
