@media (max-width: 550px) {
  #form-searcher > div {
    max-width: 80% !important;
    width: 80% !important; } }
@media (min-width: 551px) and (max-width: 675px) {
  #form-searcher > div {
    max-width: 60% !important;
    width: 60% !important; } }
@media (min-width: 676px) and (max-width: 900px) {
  #form-searcher > div {
    max-width: 50% !important;
    width: 50% !important; } }
/* Contiene el logo y el buscador principal */
#header {
  width: 100%;
  max-width: 100%;
  padding-bottom: 4em;
  position: relative;
  background-image: url("/img/background/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#header::before,
#header:before {
  background-color: white;
  content: "";
  display: block;
  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
  opacity: 0.5; }

/* contenedor del logo */
#logo-wrapper {
  padding: 2em 0; }

/* logo de EVOLUTION */
#logo-wrapper img {
  display: block;
  width: 354px;
  max-width: 100%;
  margin: 0 auto;
  position: relative; }

/* contenedor del buscador */
#form-searcher > div {
  width: 30%;
  max-width: 30%;
  margin: 0 auto;
  position: relative; }

#searcher {
  display: block;
  width: 80%;
  max-width: 100%;
  padding: 0.5em 2em 0.5em 1em;
  border: 1px solid #DBDBDB;
  border-bottom: 5px solid #30b3ad;
  font-size: 1.1em;
  font-weight: lighter;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
  margin: 0 auto; }

#searcher:focus {
  width: 100%; }

#form-searcher > div > i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #30b3ad;
  font-weight: bold; }

#form-searcher > div > i:hover {
  cursor: pointer; }

/*# sourceMappingURL=header.css.map */
