#accordion .header-accordion {
  padding: 1.2em 2em 0.9em 3em;
  color: white;
  border-color: #d6e9c6;
  text-transform: capitalize;
  letter-spacing: 3px;
  background: #006666;
  background: -moz-linear-gradient(top, #006666 0%, teal 100%);
  background: -webkit-linear-gradient(top, #006666 0%, teal 100%);
  background: -o-linear-gradient(top, #006666 0%, teal 100%);
  background: -ms-linear-gradient(top, #006666 0%, teal 100%);
  background: linear-gradient(to bottom, #006666 0%, teal 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006666', endColorstr='#008080', GradientType=0 ); }
#accordion .header-accordion:hover, #accordion .header-accordion:focus, #accordion .header-accordion:active {
  outline: none;
  background: #004d4d;
  background: -moz-linear-gradient(top, #004d4d 0%, #006666 100%);
  background: -webkit-linear-gradient(top, #004d4d 0%, #006666 100%);
  background: -o-linear-gradient(top, #004d4d 0%, #006666 100%);
  background: -ms-linear-gradient(top, #004d4d 0%, #006666 100%);
  background: linear-gradient(to bottom, #004d4d 0%, #006666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d4d', endColorstr='#006666', GradientType=0 ); }
#accordion ul.tags {
  width: 100%; }
  #accordion ul.tags li.tag {
    background: #006666;
    background: -moz-linear-gradient(top, #006666 0%, teal 100%);
    background: -webkit-linear-gradient(top, #006666 0%, teal 100%);
    background: -o-linear-gradient(top, #006666 0%, teal 100%);
    background: -ms-linear-gradient(top, #006666 0%, teal 100%);
    background: linear-gradient(to bottom, #006666 0%, teal 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006666', endColorstr='#008080', GradientType=0 ); }
  #accordion ul.tags li.tag:hover {
    background: #004d4d;
    background: -moz-linear-gradient(top, #004d4d 0%, #006666 100%);
    background: -webkit-linear-gradient(top, #004d4d 0%, #006666 100%);
    background: -o-linear-gradient(top, #004d4d 0%, #006666 100%);
    background: -ms-linear-gradient(top, #004d4d 0%, #006666 100%);
    background: linear-gradient(to bottom, #004d4d 0%, #006666 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d4d', endColorstr='#006666', GradientType=0 ); }

.defaultIcon {
  background-image: url("../../css/jquery-ui/images/arrow-down.png") !important;
  position: absolute;
  left: 0.5em;
  margin-top: -5px;
  margin-left: 5px;
  transform: rotate(-90deg); }

.selectedIcon {
  background-image: url("../../css/jquery-ui/images/arrow-down.png") !important;
  position: absolute;
  left: 0.5em;
  margin-top: -5px;
  margin-left: 5px; }

/*# sourceMappingURL=profile-accordion.css.map */
