{% extends "AppBundle::admin-layout.html.twig" %}



{# BROWSER TITLE #}
{% block browserTitle %}Administrator panel ~ Evolution{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/_modules/form-insert-user.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_adminFormTitle' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_createAdmin' | trans }}</li>
                        </ol>
                    </section>
                
                    <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

                        {{ form_start(formAdmin) }}
                            {{ form_errors(formAdmin) }}
                            {{ form_row(formAdmin.name) }}
                            {{ form_row(formAdmin.surname) }}
                            {{ form_row(formAdmin.userName) }}
                            {{ form_row(formAdmin.email) }}
                            {% if edit == false %}
                                <div class="half-block">{{ form_row(formAdmin.plainPassword.first) }}</div>
                                <div class="half-block">{{ form_row(formAdmin.plainPassword.second) }}</div>
                            {% endif %}
                            {{ form_row(formAdmin._token) }}
                            <button type="submit">{{ 'str_addAdmin' | trans }}</button>
                        {{ form_end(formAdmin) }}

                    </section>

                </div>

            </div>
        </div>
    </div>
{% endblock %}