{% extends "AppBundle::admin-layout.html.twig" %}


{# Macro usado para printear la miniatura o cuadrado de un evento #}
{% import "AppBundle:macros:searcher.html.twig" as searcherMacros %}



{# BROWSER TITLE #}
{% block browserTitle %}All the administrator ~ Evolution dashboard{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/searcher.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/keyframes/blink.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/tooltip.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_allAdminsCreated' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_listAllAdmins' | trans }}</li>
                        </ol>
                    </section>


                    {# Creamos el buscador con el parametro como placeholder #}
                    {{ searcherMacros.printSearcher() }}


                    {# MENSAJE ERROR: Aparece cuando no se ha podido  borrar #}
                    <aside id="error-message">
                        <p>{{ 'str_deleteError' | trans }}</p>
                        <i id="close-error-message" class="fa fa-times" aria-hidden="true"></i>
                    </aside>


                    <!-- LIST -->
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-hover">
                            <tr>
                                <th>
                                    {{ 'str_nombre' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_surname' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_nickname' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_email' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>{{ 'str_actions' | trans }}</th>
                            </tr>

                            {# Si hay admins#}
                            {% if admins %}
                                {% for admin in admins %}
                                    <tr>
                                        <td>{{ admin.name }}</td>
                                        <td>{{ admin.surname }}</td>
                                        <td>{{ admin.userName }}</td>
                                        <td>{{ admin.email }}</td>
                                        <td>
                                            <a class="tooltips" href="#">
                                                <i class="fa fa-key modify-password" aria-hidden="true"></i>
                                                <span>{{ 'str_generatePassword' | trans }}</span>
                                            </a>

                                            <a class="tooltips" href="/admin/edit/admin/{{ admin.id }}">
                                                <i class="fa fa-pencil-square-o modify-user" aria-hidden="true"></i>
                                                <span>{{ 'str_edit' | trans }}</span>
                                            </a>

                                            <a class="tooltips" href="#">
                                                <i onclick="deleteAdmin({{ admin.id }})" class="fa fa-times delete-user" aria-hidden="true"></i>
                                                <span>{{ 'str_delete' | trans }}</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            {# si NO hay admins, mostramos mensaje#}
                            {% else %}
                                    <tr>
                                        <td><h5>-</h5></td>
                                        <td><h5>-</h5></td>
                                        <td><h5>-</h5></td>
                                        <td><h5>-</h5></td>
                                        <td><h5>-</h5></td>
                                        <td><h5>-</h5></td>
                                    </tr>
                            {% endif %}
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block someAjaxActions %}
    <script>

        (function blink() {
            $('.blink').css('visibility', 'hidden').css('visibility', 'visible');
        })();

        function deleteAdmin(id)
        {
            // Si el usuario confirma
            if (confirm('Ha seleccionado la opción: Borrar un administrador. ¿Está seguro de quere continuar?')) {
                var datos = {};
                datos.id = id;

                $.ajax({
                    url: ' {{ path('delete_admin') }} ',
                    data: datos,
                    type: 'post'
                }).success(function (data) {
                    if(data.type == 'OK'){
                        window.location.reload();
                    }
                    if(data.type == 'ERROR'){
                        $('#error-message').slideDown();
                    }
                });
            }

        }

        $('#close-error-message').click(function(){
            $('#error-message').slideUp();
        });
    </script>
{% endblock %}