// Estructura del botón para confirmar los formularios

button
  padding: 10px 12px
  margin-bottom: 0
  margin-top: 1em
  font-weight: 400
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: 4px
  width: 100%
  background: #30b3ad
  color: white
  font-size: 2em
button:hover
  background-color: #219e98
  cursor: pointer