// Buscador de la administración insertado en las vistas de /list

@media (max-width: 480px)
  // Buscador <input>
  #searcher
    width: 150px !important
  #searcher:focus
    width: 250px !important

// formulario del buscador
#searcher-form
  padding: 1em 0 1em 1em
  background: #2c3136

// Buscador <input>
#searcher
  border: none
  padding: 0.5em
  width: 200px
  -webkit-transition: width .35s ease-in-out
  transition: width .35s ease-in-out
#searcher:focus
  width: 400px
  outline: none

#searcher-submit
  border: none
  background: #30b3ad
  padding: 0.5em 1.5em
  color: white