a.tooltips
  position: relative
  display: inline
  // Texto que aparece como explicación
  span
    position: absolute
    color: #FFFFFF
    background: #000000
    line-height: 32px
    text-align: center
    display: none
    border-radius: 2px
    padding: 0 1em
    right: -1em
    width: 180px

  // Necesario para hacer el pincho del tooltip
  span:after
    content: ''
    position: absolute
    top: 100%
    width: 0
    height: 0
    right: 15px
    border-top: 8px solid #000000
    border-right: 8px solid transparent
    border-left: 8px solid transparent

a.tooltips:hover span
  display: block
  opacity: 0.8
  bottom: 30px
  z-index: 999
