{# Automatizamos el printeo de los ultimos eventos comprados #}
{% macro printEventMostPurchased(eventsMostPurchased) %}
    <article class="col-xs-12 col-sm-6">
        <div class="box box-color-grey">
            <div class="box-header with-border">
                <h3 class="panel-title">{{ 'str_eventsMostPurchased' | trans }}</h3>
            </div>

            <div class="box-body">
                <ul class="feed-events">
                    {% for event in eventsMostPurchased %}
                        <li class="feed-event-element">
                            {{ include('AppBundle::admin/_modules/printFirstEventImage.html.twig') }}
                            <h3>{{ event.title }}</h3>
                            <p>{{ event.description[:50] ~ '...' }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
{% endmacro %}

{# Automatizamos el printeo de los ultimos eventos comprados #}
{% macro printLastComments(lastComments) %}
    <article class="col-xs-12 col-sm-6">
        <div class="box box-color-grey">
            <div class="box-header with-border">
                <h3 class="panel-title">{{ 'str_lastComments' | trans }}</h3>
            </div>

            <div class="box-body">
                <ul class="feed-comments">
                    {% for comment in lastComments %}
                        <li class="feed-comments-element">
                            <h5><a href="/product/{{ comment.event.id }}">{{ comment.event.title }}</a></h5>
                            <p>
                                <span class="star-wrapper">
                                    {% for i in 1..comment.valoracion %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endfor %}
                                </span>
                                <span class="bold">{{ comment.user.userName }}~</span>
                                {{ comment.content }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
{% endmacro %}

{% macro printLastValorations(array) %}
{% endmacro %}